{:slides ["slides/hello.md",
          "slides/yay.md"
          "slides/vic-20.md"
          "slides/brooks.md",
          "slides/plotter.md",
          "slides/postscript.md",
          "slides/plain.md",
          "slides/clojure.md",
          "slides/thanks.md"]}